@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "~font-awesome/css/font-awesome.min.css";
*{
    padding: 0;
    margin: 0;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
/* Navbar container */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  color: #ffffff;
  padding: 10px 0;
}

/* Logo */
.navbar__logo img {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}

/* Search bar */
.navbar__search {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  flex: 1;
  margin: 0 20px;
  background-color: #fff;
}

/* Search Input */
.navbar__searchInput {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color:black;
  outline: none;
  font-size: 16px;
}

/* Search Icon */
.search1 {
  display: flex;
  align-items: center;
  background-color: #c48e11;
  border: 1px solid #a88734;
  border-radius: 4px;
  padding: 12px;
  
  margin-left: -2px; /* Adjust as needed */
  cursor: pointer;
  transition: background-color 0.3s;
}

.search1 i {
  font-size: 20px;
  color: #111;
}

/* Adjust the color of the icon on hover */
.search1:hover {
  background-color: #ddb347;
  color: #fff;
}




/* Menu items */
.navbar__menu {
  display: flex;
  margin: 0 20px;
}

.navbar__menuItem {
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.navbar__menu link{
  text-decoration: none;
}
.navbar__menuItem :hover{

  border-color: #ff9900;
}

/* User-related features */
.navbar__user {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.navbar__user i {

  margin-right: 10px;
  font-size: 24px;
  color: #ff9900;
}
.item-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff9900;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  
}

.upperbody{
  
  background-color:#FFC0CB;
  width: 100%;
  
  padding: 10px;
  margin-top: 100px;
}
.body-image img{
  width: 100%;
}


h1{

  margin-bottom: 30px;
  font-family: 'Abril Fatface', cursi;
  font-size:x-large;
  color: #131921;
}

.cart-icon button{
 background-color: transparent;
padding: 15px;
}

.card-dsc{
 margin-top: 10px;

 padding: 10px;
 font-weight: bold;
}
.footer {
  background-color: #131921;
  color: #fff;
  padding: 30px 0;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.footer-links{
  display: flex;
  font-style: inherit;
}

.footer-links ul {
 
  list-style: none;
  padding: 0;
  
}
.footer-links ul li h1{
  color: #FF9900;
  font-family: 'Abril Fatface', cursi
  
}

.footer-links li {
 
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FF9900;
}



.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
.link {
  text-decoration: none;
 color: #fff;
 
}

.link:hover {
  color: #FF9900; /* Change the link color on hover as desired */
}